body {
    margin: 0;
    color: #fff
}

#container {
    position: relative;
    background-color: navy;
    width: 75vw;
    height: 75vh;
    border: 5px solid yellow;
}

.letter {
    position: relative;
    font-size: 4rem;
    color: red;
}