body {
    background-color: aquamarine;
    margin: 0;
    color: #fff
}

#container {
    position: relative;
    display: flex;
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* border: 5px solid yellow; */
    font-family: 'Londrina Outline', cursive;
    overflow: hidden;
    cursor: move;
    color: red;
}

.letter {
    position: absolute;
    /* font-size: 4rem;: */
}

.fadeOut {
    animation: fade-out 6s forwards;
    -moz-animation: fade-out 6s forwards;
    -webkit-animation: fade-out 6s forwards;
    -o-animation: fade-out 6s forwards;

}

@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.hidden {
    display: none;
}

.final-title {
    margin: auto;
}
