body {
    background-color: aquamarine;
    margin: 0;
    color: #fff
}

#container {
    position: relative;
    display: flex;
    /*flex-direction: column;
    justify-content: center;*/
    background-color: white;
    width: 100vw;
    height: 100vh;
    /* border: 5px solid yellow; */
    font-family: 'Londrina Outline', cursive;
    overflow: hidden;
    cursor: move;
    color: red;
}

.letter {
    position: absolute;
    /* font-size: 4rem;: */
}

.fadeOut {
    animation: fade-out 6s forwards;
    -moz-animation: fade-out 6s forwards;
    -webkit-animation: fade-out 6s forwards;
    -o-animation: fade-out 6s forwards;

}

@keyframes fade-out {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.hidden {
    display: none;
}

.final-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: center;
}

.demo-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    border-radius: 25px;
    border: solid 3px white;
    margin: 0 auto;
    color: #fff;
    background-color: red;
    padding: 1.5rem;
    z-index: 5;
    cursor: pointer;
}
